body {
    /* width: 500px; */
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: lightseagreen;
}
img {
    max-width: 100%;
}

.container {
    margin: 30px 40px;
    display: inline-block;
}

.image {
    background-image: url(./img/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.cd2 {
    background-image: url(./img/img2.jpg);
}
.cd3 {
    background-image: url(./img/img3.jpg);
}
.cd4 {
    background-image: url(./img/img4.jpg);
}

.img-text1 {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 140px;
    padding: 30px;
    color: white;
    background-color: palevioletred;
    text-align: center;
    border-radius: 50%;
}
.img-text1 span {
    font-size: 25px;
}

.img-text2 {
    /* display: inline-block; */
    width: 100px;
    margin: 0 0 15px 25px;
    padding: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: lightseagreen;
    border-radius: 5px;
}

.description {
    padding: 45px;
    color: rgb(184, 179, 179);
    background-color: lightyellow;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.description h1 {
    color: rgb(105, 102, 102);
}
.description h4 {
    margin-bottom: 0;
    font-size: 20px;
}

.dates p {
    display: inline-block;
    margin: 15px 15px 50px 0;
    padding: 10px 20px;
    background-color: rgb(184, 179, 179);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.dates span {
    font-size: 25px;
    font-weight: 700;
}

hr {
    border: 1px solid lightgray;

}

footer {
    /* width: 350px; */
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    
}
.icons i {
    margin-right: 20px;
}
