header {
    background: $bg-color-header url(../images/bg-hero-mobile.svg);
    padding: 2rem ;
    margin-bottom: 4rem;

    @media screen and (min-width: 480px) {
        background: $bg-color-header url(../images/bg-hero-desktop.svg);
        padding: 2rem 6rem;
    }

    


}