body {
    text-align: center;
    margin-top: 2rem;
}
.container {
    width: 300px;
    margin: 5rem auto;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: lightgray;
}
