$color-white: #fff;
$color-black: #000;
$color-light_grey: #d3d3d3;

//color links
$color-blue: #3273DC;
$color-blue-hover: #363636;


//color button
$color-cyan: #00D1B2;
$color-cyan-hover: #00C4A7;
$color-cyan-active: #00B89C;


//color valid e invalid input
$color-red: rgba(184, 11, 11, 0.9);
$color-green: rgb(80, 202, 80);