/* GENERALES */
:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --cyan: hsl(192, 70%, 51%);
    --graish-blue: hsl(233, 8%, 62%);
    --light-grey: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
.repo {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 5;
    padding: 20px;
    color: #000;
    font-size: 15px;
    background-color: rgba(0,0,0,.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}
.repo a > span > i {
    font-size: 30px;
    color: #000;
    margin-left: 5px;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--graish-blue);
}
p {
    color: var(--graish-blue);
}
h1, h2, h3 {
    color: var(--dark-blue);
    font-weight: 300;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 15px 30px;
    border-radius: 25px;
    background: linear-gradient(90deg, var(--lime-green), var(--cyan));
    color: #fff;
    cursor: pointer;
}
.btn:hover {
    opacity: .5;
}

/* MAIN NAV */
.mainNav {
    padding: 15px 0;
    position: relative;
    z-index: 1;
    background-color: var(--very-light-gray) ;
}
.mainNav > div > a {
    font-size: 15px;
}
.menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.menu > a {
    margin-right: 20px;
    font-size: 13px;
}


/* HERO */
.hero {
    background-color: hsla(233, 8%, 62%, .2);
    height: 600px;
     background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 90% 190%;
    background-position: 35em;

}
.hero-cont-left {
    height: 100%;
    width: 35%;
    margin-left: 7%;
    margin-top: 10%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding-top: 80px; */
}

.hero-left > p {
    margin-bottom: 40px;
    line-height: 30px;
}
.hero-cont-right {
    /* overflow: hidden; */
    width: 45%;
}
.hero-right {
    height: 100%;
    overflow: hidden;
}


/* MAIN SECTION */

#main {
    padding: 80px 0;
    background-color: rgba(98, 98, 102, 0.2);
}

.main > p {
    margin-bottom: 60px;
    line-height: 30px;
}
.services {
    flex-basis: calc(25% - 10px);
}


/* ARTICLE SECTION */
#articles {
    padding: 80px 0 130px;
    background-color: hsla(233, 8%, 62%, .2);
}
#articles > .container > .flex {
    align-items: start;
}

.articles-container {
    height: 500px;
}

.article {
    flex-basis: calc(25% - 10px);
    height: 100%;
}
.img-article {
    height: 50%;
}
.img-article > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.article-descrip {
    background-color: var(--very-light-gray);
    padding: 15px 25px;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50%;
}
.article-descrip h4 {
    font-size: 15px;
    font-weight: 300;
    color: var(--graish-blue);
}

/* FOOTER */

footer {
    background-color: var(--dark-blue);
    padding: 50px 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul > li {
    list-style: none;
}


.footer-nav {
    width: 55%;
    justify-content: space-between;
    align-items: flex-start;
}
.social i, .col ul li a {
    color: var(--very-light-gray);
    padding: 7px;
    font-size: 20px;
}
.col ul li a {
    font-size: 18px;
}
.col ul li {
    margin-bottom: 10px;
}
.col1 img {
    margin-bottom: 30px;
}

.footer-copyright {
    text-align: right;
}
.footer-copyright p {
    padding-top: 30px;
}