.item-tags {
    background-color: $background-color-tags;
    color: $primary-color;
    font-weight: 700;
    font-size: 12px;
    padding: .5rem;
    border-radius: 3px;
    margin: .5rem;
    &:hover {
        color: #fff;
        background-color: $primary-color;
    }
}