.hero {
    margin: 2rem 0;
    text-align: center;

    @media screen and (min-width: 480px) {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .hero__info {
        padding: 0 0 1rem;

        @media screen and (min-width: 480px) {
            width: 40%;
        }
        
        .hero__title {
            font-size: 3rem;
            margin-bottom: 1.5rem;

            @media screen and (min-width: 480px) {
                font-size: 4rem;
            }
        }
    }
    .hero__img {
        @media screen and (min-width: 480px) {
            width: 50%;
        }
        
    }

}