* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Libre Franklin', sans-serif;
}
.repo {
  position: fixed;
  top: 0;
  left: 10px;
  z-index: 5;
  padding: 20px;
  color: #000;
  font-size: 15px;
  background-color: rgba(0,0,0,.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  
}
.repo a > span > i {
  font-size: 30px;
  color: #000;
  margin-left: 5px;
}
img {
  max-width: 100%;
}

.container {
 text-align: center;
}
/* LOGO */
.site-logo {
   margin-top: 50px;
}
/* TITULOS */
.site-title {
  margin-top: 50px;
  color:  hsl(0, 0%, 59%);
  font-weight: 300;
  font-size: 45px;
}
.site-title > span {
  color: #000;
  font-weight: 600;
}
.site-subtitle {
  margin-top: 15px;
  color:  hsl(0, 1%, 39%);
  font-weight: 300;
}
/* FORMULARIO */
.site-form {
  margin-top: 25px;
}
.site-form > input {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  margin-right: 10px;
  color: hsl(223, 87%, 63%);
  border: 1px solid hsl(223, 87%, 63%);
  border-radius: 20px;
  
}
.site-btn {
  cursor: pointer;
  /* width: 170px; para los botones es mejor usar padding y no wiodth, por si tenes que agregar mas texto, que no se descajete el boton */
  /* height: 40px; */
  padding: 12px 50px;
  color: #fff;
  font-weight: 600;
  background-color: hsl(223, 87%, 63%);
  border: 1px solid hsl(223, 87%, 63%);
  border-radius: 20px;
  box-shadow: 0px 4px 17px 0px hsl(223, 87%, 63%);


}

/* IMAGEN */
.site-img {
  margin-top: 50px;
  /* max-width: 500px; */
  width: 45%;

}

/* REDES SOCIALES */
.site-social {
  margin-top: 50px;
}
.site-social > a > i {
  cursor: pointer;
  color: hsl(223, 87%, 63%);
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid  hsla(223, 87%, 63%, 0.5);
  border-radius: 50%;
}
.fa-facebook-f {
  padding: 10px 15px !important;
}

.site-social > a > i:hover {
  background-color:  hsl(223, 87%, 63%);
  color: #fff
}

/* COPYRIGHT */
.site-copyright {
  margin: 20px 0 30px;
  font-size: 11px;
  color: hsl(0, 0%, 59%);
}


/* FOOTER */ 
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
