@import "./style.css";

body {
    background-color: hsl(0, 0%, 100%);
}


h2, .header-right > p {
    color: #000;
}

.soc, .main {
    background-color: hsl(231, 9%, 85%);
}

.bgd {
    background-color:  hsla(231, 9%, 85%, .4);
}