//colores
$color-grey: #f5f5f5;
$color-white: #ffffff;
$color-green: #5cb85c;
$color-drk-green:#449d44;
$color-red: #f44336;
$color-blue: #435d7d;
//font

//weight

//spacing
// $sp0: 0.5rem; //5px
// $sp1: 1rem; //10px
// $sp2: 2rem; //20px
// $sp3: 2.5rem; //25px
// $sp4: 3rem; //30px
// $sp5: 4rem; //40px
// $sp6: 6rem; //60px


//sizes

//media queria - pantalla
$sm: 680px;
$xl: 1280px;


